@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #000;
}

#main {
  background-color: #ffffff;
  margin: 0;
  padding: 20px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}


/* HEADER */
.header {
  width: 100%;
  height: auto;
  background-color: #eeeded;
  margin: 0;
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.head-logo {
  font-family: 'Roboto Slab', serif;
  font-size: 1.6rem;
  color: #83580b;
  text-shadow: 1px 1px #000000;
}

#title {
  font-family: 'Mate SC', serif;
  font-size: 3rem;
  color: #83580b;
  text-shadow: 1px 1px #000000;
}

.btn {
  text-align: center;
}

.btn-link {
  font-family: 'Roboto Slab', serif;
  font-size: 1.3rem;
  color: #83580b;
  text-shadow: 1px 1px #000000;
  text-decoration: none;
}

.btn-link:hover {
  color: #e79d12;
}

/* FIGURE IMAGES */
#img-div {
	width: 100%;
  height: auto;
  padding: 20px;
  margin-top: 100px;
}

.image-caption_container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.arrow-left-con, .arrow-right-con {
  width: 100%;
  height: auto;
}

#arrow-left, #arrow-right {
  width: 20%;
  transition: all 700ms;
  cursor: pointer;
  filter: drop-shadow(0px 0px 1px black);
}

#arrow-left {
  float: right;
}

#arrow-right {
  float: left;
}

#arrow-left:hover, #arrow-right:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 1px black) brightness(1.2);
}

.image-container {
	width: 100%;
  height: auto;
  position: relative;
}

#border {
	max-width: 60%;
  position: absolute;
  top: 48%;
  left: 50%;
  filter: drop-shadow( 0 0 1px #000000);
  transform: translate(-50%, -50%);
  transition: all 700ms;
}

#border:hover {
  filter: drop-shadow(0px 0px 1px black) brightness(1.2);
}

#image {
  display: block;
  height: auto;
	max-width: 40%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  transition: all 700ms;
  border: 5px solid #b69449;
	filter: drop-shadow( 0 0 1px #525151);
}

#image:hover {
  filter: drop-shadow(0px 0px 2px #353535) brightness(1.2);
}


/* CAPTION */
.caption {
  width: 100%;
  height: auto;
  padding: 10px 50px;
  margin-bottom: 50px;
  margin-top: 100px;
  text-align: center;
  color: #828282;
}

#img-caption {
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
}

/* INFORMATIONS */
#tribute-info {
  width: 100%;
  height: auto;
  padding: 50px;
  text-align: center;
  color: #828282;
  background-color: #ebebeb;
}

.tribute-info-title, .infos-head {
  font-family: 'Roboto Slab', serif;
  padding: 10px;
  margin-bottom: 20px;
  text-shadow: 1px 1px #000000;
}

.fieldsets {
  width: 90%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  margin-bottom: 50px;
  background-color: #d1d1d1;
}

.details-fields {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 20px 0;
}

.fields {
  width: 300px;
  height: auto;
  padding: 15px 0;
}

.infos, .tribute-info-col {
  width: 100%;
  height: auto;
  padding: 10px;
  margin-bottom: 20px;
}

.tribute-info-p {
  width: 90%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.ada-quote {
  margin-bottom: 100px;
}

.signature {
  font-family: 'Roboto Slab', serif;
  margin-bottom: 20px;
}

.more-link {
  margin-top: 50px;
}

#tribute-link {
  text-decoration: none;
  color: #828282;
  font-weight: bold;
}

@keyframes rotateBorderCW {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100%{
    transform:  translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotateBorderCCW {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100%{
    transform:  translate(-50%, -50%) rotate(-360deg);
  }
}

/*  Tablets in landscape mode, older desktop monitors */
@media only screen and (min-width: 1024px) and (max-width: 1365px) {
  :root {
    font-size: 14px;
  }

  .fields {
    height: 100px;
    padding: 5px;
  }
}

/*  Tablets in portrait mode, large display smartphones landscape mode */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  :root {
    font-size: 12px;
  }

  .fields {
    height: 100px;
    padding: 5px;
  }

  .ada-quote {
    margin-bottom: 50px;
  }

  .signature-img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/*  Smartphones in landscape mode */
@media screen and (min-width: 421px) and (max-width: 767px) {
  :root {
    font-size: 9px;
  }

  .header {
    padding: 5px 15px;
  }

  #img-div {
    padding: 0;
    margin-top: 80px;
  }

  .caption {
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 10px 20px;
  }

  #tribute-info {
    padding: 0;
  }

  .tribute-info-title, .infos-head {
    margin-bottom: 0px;
    padding: 15px 0;
  }

  .fieldsets {
    padding: 15px;
    margin-bottom: 10px;
  }

  .details-fields {
    margin: 0;
  }

  .fields {
    width: 25%;
    height: 80px;
    margin: 10px 0;
    padding: 5px;
  }

  .infos, .tribute-info-col {
    padding: 0 25px;
    margin-bottom: 0px;
  }

  .tribute-info-p {
    width: 95%;
    margin-bottom: 30px;
  }

  .ada-quote {
    margin-bottom: 30px;
  }

  .signature-img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .more-link {
    margin-top: 15px;
    padding-bottom: 20px;
  }
}

/*  Smartphones in portrait mode  */
@media screen and (max-width: 420px) {
  :root {
    font-size: 9px;
  }

  .header {
    padding: 5px 10px;
  }

  #img-div {
    padding: 0;
    margin-top: 60px;
  }

  .caption {
    margin-bottom: 20px;
    margin-top: 40px;
    padding: 10px 20px;
  }

  #tribute-info {
    padding: 0px;
  }

  .tribute-info-title, .infos-head {
    margin-bottom: 0px;
    padding: 10px 0;
  }

  .fieldsets {
    padding: 15px;
    margin-bottom: 10px;
  }

  .details-fields {
    margin: 0;
  }

  .fields {
    padding: 2px;
    width: 25%;
    height: 80px;
    margin: 10px 0;
  }

  .infos, .tribute-info-col {
    padding: 0 25px;
    margin-bottom: 0px;
  }

  .tribute-info-p {
    width: 95%;
    margin-bottom: 20px;
  }

  .ada-quote {
    margin-bottom: 25px;
  }

  .signature-img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .more-link {
    margin-top: 15px;
    padding-bottom: 20px;
  }
}